<h3>Ubah hotel</h3>
<hr>
<form action="/admin/hotel/add" method="post">
    <div class="form-group">
        <label for="inputNamaHotel">nama hotel</label>
        <input type="text" name="namahotel" placeholder="Masukkan Nama Hotel" id="inputNanaHotel"
            class="form-control col-4">
    </div>
    <div class="form-group">
        <label for="inputAlamat">alamat</label>
        <input type="text" name="alamat" placeholder="Masukkan alamat" id="inputAlamat" class="form-control col-4">
    </div>
    <button type="submit" class="btn btn-primary">Simpan</button>
    <a href="/admin/hotel" class="btn btn-default">Kembali</a>
</form>