<h3>edit hotel</h3>
<hr>
<form action="/admin/hotel/{{ ubah.id }}/update" method="post">
    <div class="form-group">
        <label for="inputNamaHotel">Nama Hotel</label>
        <input type="text" name="namahotel" value="{{ ubah.namahotel }}" placeholder="Masukkan nama hotel"
            id="inputNamaHotel" class="form-control col-4">
    </div>
    <div class="form-group">
        <label for="inputalamat"></label>
        <input type="text" name="alamat" value="{{ ubah.alamat }}" placeholder="Masukkan alamat" id="inputAlamat"
            class="form-control col-4">
    </div>
    <button type="submit" class="btn btn-primary">Simpan</button>
    <a href="/admin/hotel" class="btn btn-default">Kembali</a>
</form>